.title {
  font-weight: 700;
  margin: 0 0 20px;
  font-size: 48px;
  line-height: 177.9%;
  letter-spacing: 0.01em;
  color: #000000;
}

.row {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 20px 0 0;
  padding: 0;
  width: 30%;
}

.item {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  color: #4D4D4D;
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.box {
  width: 70%;
}

.small {
  position: relative;
  padding: 0 65px;
}

@media (max-width: 1200px) {
  .item {
    column-gap: 5px;
    font-size: 18.89px;
  }
}

@media (max-width: 1100px) {
  .small {
    padding: 0 50px;
  }
  .item {
    font-size: 17px;
  }
  .title {
    font-size: 42px;
  }
}

@media (max-width: 920px) {
  .title {
    font-size: 36px;
  }
  .row {
    flex-direction: column;
    row-gap: 20px;
  }
  .list {
    width: 100%;
  }
  .box {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .small {
    padding: 0 70px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 32px;
    margin: 40px 0 10px;
  }
  .small {
    padding: 0 60px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    padding: 50px 0 0;
  }
  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 20px;
  }
  .item {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }
}