.gallery {
    padding: 50px 0 100px;
    position: relative;
}

.gallery__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
    margin: 0 0 30px;
    padding: 0;
}

.wrapper .gallery__btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #054468;
    text-transform: capitalize;
    padding: 5px 5px 5px 0;
    margin: 0 0 20px;
}

.gallery__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
}

.gallery__content img {
    cursor: pointer;
    transition: 0.2s;
}

.gallery__content img:hover {
    -webkit-box-shadow: 0 1px 8px 5px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0 1px 8px 5px rgba(34, 60, 80, 0.26);
    box-shadow: 0 1px 8px 5px rgba(34, 60, 80, 0.26);
    transition: 0.2s;
}

.gallery::after {
    content: '';
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #F8FFFF 100.63%);
    width: 100%;
    height: 640px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery__small {
    width: 23.52%;
}

.gallery__mid {
    width: 30%;
}

.gallery__content_col {
    width: 42.6%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.gallery__content_col img {
    width: 100%;
    max-width: unset;
}

.component_wrapper {
    display: flex;
}

.gallery__swiper_img {
    width: 100%;
    height: 240px;
    display: block;
    margin: 0 auto;
}

.gallery__swiper {
    padding: 0 40px;
    position: relative;
}

.gallery__swiper .swiper {
    width: 100%;
    position: static;
}

.gallery__swiper .swiper .swiper-pagination {
    bottom: -30px;
}

.gallery__swiper .swiper .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background: #C4C4C4;
    border-radius: 50%;
    transition: 0.2s;
}

.gallery__swiper .swiper .swiper-pagination-bullet-active {
    background: #14AD02;
    border-radius: 7px;
    width: 10px;
    transition: 0.2s;
}

@media (max-width: 1100px) {
    .gallery__title {
        font-size: 42px;
    }

    .wrapper .gallery__btn {
        font-size: 18px;
    }
}

@media (max-width: 920px) {
    .gallery__title {
        font-size: 36px;
    }

    .wrapper .gallery__btn {
        font-size: 17px;
    }
}

@media (max-width: 576px) {
    .gallery__content {
        row-gap: 20px;
        column-gap: 20px;
    }

    .gallery__content img {
        width: calc(50% - 10px);
    }

    .gallery__mid {
    }

    .gallery__content_col {
        flex-direction: row;
        column-gap: 20px;
        width: 100%;
    }

    .gallery__content_col img:last-child {
    }

    .gallery__content img:nth-child(7n) {
        order: 5;
    }
}

@media (max-width: 500px) {
    .gallery__content, .gallery__content_col {
        column-gap: 10px;
        row-gap: 10px;
    }
    .gallery__content img {
        width: calc(50% - 5px);
    }

    .gallery__title {
        font-size: 32px;
        margin: 40px 0 20px;
    }

    .wrapper .gallery__btn {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .gallery__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        margin: 0 0 22px;
    }

    .wrapper .gallery__btn {
        font-size: 10px;
        line-height: 12px;
    }
}