.wrapper{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 2% 0 ;
    z-index: 1000;
}

.button{
    border: 1.5px solid #14AD02;
    box-sizing: border-box;
    padding:0 2%;
    height: 36px;
    background-color: transparent;
    border-radius: 6px;
    text-align: center;
    margin-top: 1%;
    color: #14AD02;
    &:hover{
        background-color: #14AD02 ;
        color:#fff;
    }
}
