.wrapper {
  padding: 8% 5%;
}

.content_wrapper {
  display: flex;
  padding: 3%;
  width: 80%;
  justify-content: space-between;
  opacity: 100%;
}

.title {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 177.9%;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
  font-weight: 600;
}

.backgroundImage {
  background-image: url("../../Assets/icons/background.svg");
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
}

.secondPart {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media (max-width: 1600px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 1400px) {
  .content_wrapper {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 42px;
  }
  .content_wrapper {
    padding: 0;
  }
}

@media (max-width: 920px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .content_wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
  .secondPart {
    width: 100%;
    row-gap: 30px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 26.7px;
  }
}

@media (max-width: 425px) {
  .content_wrapper {
    row-gap: 20px;
  }
  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 22px;
  }
  .secondPart {
    row-gap: 20px;
  }
}