.wrapper{
    padding: 5%;
   
  
}   
.content_wrapper{
    display: flex;
    padding: 3%;
    width: 80%;
    justify-content: space-between;
    opacity: 100%;
}
.title{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 177.9%;
    /* or 85px */

    letter-spacing: 0.01em;

    color: #000000;

}
.backgroundImage{
    background-image: url("../../Assets/icons/background.svg");
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
}