.wrapper{
    width: 99%;
    height: 2700px;
    
    position: relative;
    .appeal {
        width: 1060px;
        height: 1100px;
        
        position: relative;
        left: 70px;
        top: 70px;
        .appealPageOne {
            width: 100%;
            height: 370px;
            
            .appealWord {
                margin: 0 0 20px 0;
            }
            .appealContent {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 220px;
            
                margin-left: 68px;
                margin-top: 70px;
                .urmat {
                    font-size: 32px;
                    font-weight: 500;
                }
                .p {
                    font-size: 21px;
                    color: rgba(0, 0, 0, 0.7)
                }
                .pTwo {
                    font-size: 21px;
                    color: rgba(0, 0, 0, 0.7)
                }
            }
        }
        .appealPageTwo {
            width: 100%;
            height: 380px;
            
            .appealContentTwo {
                width: 80%;
                height: 250px;
            
                margin-left: 68px;
                margin-top: 70px;
                .appealTextTwo {
                    font-weight: 600;
                    font-size: 24px;
                }
                .divUl {
                    margin: 40px 0 0 0;
                }
                ul {
                    .liTwo {
                        font-size: 22px;
                        margin: 20px 0 10px 0;
                    }
                }
            }
        }
        .appealPageThree {
            width: 100%;
            height: 350px;
            position: relative;
            bottom: 60px;
            .appealContentThree {
                width: 80%;
                height: 250px;
            
                margin-left: 68px;
                margin-top: 45px;
                .TextThree {
                    font-size: 24px;
                    .th {
                        color: red;
                        font-weight: 600;
                    }
                }
                .divUlThree {
                    margin: 40px 0 0 0;
                    ul {
                        .liThree {
                            margin: 20px 0 0 0;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    .inputs {
        width: 1200px;
        position: relative;
        left: 70px;
        top: 170px;
        .inputsBorder {
             display: flex;
             width: 100%;
             height: 568px;
             border: 2px solid rgba(139, 104, 104, 0.5);
             .inputsPageOne {
                 width: 40%;
                 height: 60%;
                 
                 position: relative;
                 top: 100px;
                 left: 60px;
                 form {
                     fieldset.fildOne {
                         width: 80%;
                         
                         .star {
                             color: red;
                         }
                         .inputFio {
                             width: 370px;
                             height: 100%;
                             background-color: transparent;
                             border: 1px solid rgba(233, 233, 233, 0.1);
                         }
                     }
                     fieldset.fildTwo {
                         width: 80%;
                         height: 33px;
                         margin-top: 27px;
                        .inputPhones {
                            font-family: Montserrat;
                            width: 370px;
                            height: 100%;
                            border: 1px solid rgba(233, 233, 233, 0.1);
                            background-color: transparent;
                            position: relative;

                        }
                     }
                 }
             }
             .inputsPageTwo {
                 align-self: center;
                width: 45%;
                height: 60%;
                
                position: relative;
                left: 70px;
                bottom: 4px;
                fieldset {
                    height: 117px;
                    .inputsComment {
                        background-color: transparent;
                        border: 1px solid rgba(235, 232, 232, 0.1);
                        width: 100%;
                        height: 120px;
                    }

                }
                .BtnDownload {
                    display: flex;
                    align-items: center;
                    width: 350px;
                    height: 50px;
                    
                    margin-top: 20px;
                    .line {
                        width: 20px;
                        height: 3px;
                        background-color: green;
                        margin: 17px 15px 0 14px;

                    }
                    .wordDown {
                        margin: 0 15px 0 0;
                        font-weight: 500;
                    }
                    .wordFail {
                        color: blue;
                    }
                }
                .Button {
                    display: flex;
                    font-weight: 600;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: 150px;
                    height: 40px;
                    background-color: #14AD02;
                    position: relative;
                    left: 300px;
                    top: 90px;
                    cursor: pointer;
                }
             }
        }
        .Email {
            margin-left: 60px;
            margin-top: 100px;
            font-size: 19px;
            width: 1050px;
            .emaile {
                text-decoration: underline;
                color: blue;
            }
        }
    }
    

}

































