.wrapper {
  padding: 2% 5% 70px;
}

.title {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 177.9%;
  letter-spacing: 0.01em;
  color: #000000;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
}

.lastNews {
  margin-top: 5%;
}

.subcontent {
  display: flex;
  justify-content: space-between;
}

.pagination {
  width: 69%;
}

.recomendation {
  width: 23.5%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.subtitle {
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.01em;
}

.box {
  img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .title {
    font-size: 42px;
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 32px;
  }
  .pagination {
    width: 65%;
  }
  .recomendation {
    width: 27.5%;
  }
}

@media (max-width: 921px) {
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 28px;
  }
  .pagination {
    width: 100%;
  }
  .box {
    width: calc(100% / 3.2);
  }
  .recomendation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
  }
  .subcontent {
    flex-direction: column-reverse;
    row-gap: 80px;
  }
}

@media (max-width: 800px) {
  .box {
    width: calc(100% / 3.2);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .box {
    width: calc(100% / 2.1);
  }
}

@media (max-width: 620px) {
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .box {
    margin: 0 auto;
    width: 90%;
  }
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 14px;
  }
}