.wrapper{
    margin: 15% ;
 
}
.content_wrapper{
    max-width: 40%;
    display: flex;
    flex-direction: column;
      
    input{
        width: 40%;
        margin-top: 5%;
    }
    button{
        width: 40%;

    }
}