.swiper {
    position: static !important;
}

.swiper .swiper-button-prev {
    width: 58px;
    height: 58px;
    background: #14AD02;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}

.swiper .swiper-button-next {
    width: 58px;
    height: 58px;
    background: #14AD02;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}

.swiper .swiper-button-disabled {
    background: #E6E6E6;
    opacity: unset !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: white;
    font-size: 18px;
}