.wrapper {
  padding: 50px 0 100px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 177.9%;
  letter-spacing: 0.01em;
  color: #000000;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 177.9%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #505050;
  margin: 0 0 80px;
}


.container {
  position: relative;
  padding: 0 100px;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 70px;
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 42px;
  }
  .container {
    padding: 0 45px;
  }
  .subtitle {
    font-size: 17px;
    margin: 0 0 50px;
  }
}

@media (max-width: 920px) {
  .title {
    font-size: 36px;
  }
  .subtitle {
    margin: 0 0 30px;
  }
}