.wrapper{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
}
.link{
    padding:2% 4%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #0F001A;
    &:hover{
        color: #14AD02;    
    }
    
    }

    .active{
        padding:2% 4%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        text-decoration: none;
        color: #0F001A;
        color: #14AD02;    
    }    