.wrapper {
  height: 163px;
  border-bottom: 1px solid #DADADA;

  .date {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 210.9%;
    letter-spacing: 0.01em;
    color: #6A6A6A;
  }

  .body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
  }
}