.App{
  background-color: #f8ffff;
  display: flex;
  flex-direction: column;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.a{
  text-decoration: none;
  cursor: pointer;
}
button{
  cursor: pointer;
  outline: none;
}
.content_wrapper{
  padding: 5% 0 ;
  margin-top: 5%;
}